.idea/
.vscode/
dig/xgraph/checkpoint/
dig/xgraph/dataset/
dig/xgraph/results/
benchmarks/xgraph/datasets/
benchmarks/xgraph/checkpoints/
benchmarks/xgraph/.ipynb_checkpoints/
benchmarks/xgraph/tmp.pt
benchmarks/xgraph/filename.png
**/__pycache__/
docs/build/